/*
* You can import fonts and define variables here
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('http://fonts.googleapis.com/css?family=Roboto&display=swap');

//font families
$Montserrat: "Montserrat", Tahoma, Helvetica, sans-serif;
$Roboto: "Roboto", Tahoma, sans-serif;

//font sizes in em (no standalone class considering responsive design)
$size14: 0.78em;
$size16: 0.88em;
$size18: 1em;
$size21: 1.16em;
$size42: 2.33em;
$size48: 2.66em;
$size72: 4em;

//colors
$site-white: #fff;
$site-black: #000;
$link-active: #00c7fa;
$playnow-link: #fff;
$playnow-link-active: #00c7fa;
$emeBar-main: #0c1c33;
$emeBar-border: #183561;
$menu-grad-lgt: #fff;
$menu-grad-drk: #ececec;
$play-btn-bg: #94e9ff;
$play-btn-border: #00c7fa;
$headline-grad-lgt: #f0e4d2;
$headline-grad-drk: #fab83c;
$combat-bg: #566aa2;
$race-bg: #909090;
$race-grad-lgt: #f0e4d2;
$race-grad-drk: #fab83c;
$race-btn: #fab83c;
