.header-bar {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  z-index: 10;
}

// eme-bar style//////////////////////////////
.eme-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $emeBar-main;
  width: 100%;
  min-height: 70px;
  border-bottom: 3px solid $emeBar-border;
}

.eme-logo {
  margin-top: 0.4em;
  padding: 0 1em;
}

.eme-account {
  padding-right: 1em;
  text-align: right;
  font-size: $size14;
  color: $site-white;
}

a.link-account:link { color:$site-white;}
a.link-account:visited { color: $site-white;}
a.link-account:hover { color: $link-active;}
a.link-account:active { color: $link-active;}


// menu bar style///////////////////////////
.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 75px;
  margin: 0 auto;
  background: radial-gradient(circle farthest-corner,$menu-grad-drk, $menu-grad-lgt);
  div {
    margin: 0 1em;
  }
}

.tera-logo-img {
  width: 100%;
}

a.link-menubtn:link { color:$site-black;}
a.link-menubtn:visited { color: $site-black;}
a.link-menubtn:hover { color: $link-active;}
a.link-menubtn:active { color: $link-active;}

.menu-space {
  flex-grow:0.5;
}

.btn-playNow {
  text-align:center;
  color: $site-white;
  text-decoration: none;
  background-color: rgba(0,199,250,0.6);
  border: 2px solid $play-btn;
  border-radius: 0.4em;
  transition: all 300ms ease-in-out;
}

.btn-playNow:hover {
  color: $site-black;
  background-color: rgba(0,199,250,0.3);
}

@media(max-width: 604px) {
  .btn-gameplay, .btn-races {
    font-size: 0.7em;
  }
  .btn-playNow {
    font-size: $size16;
    padding: 0.4em 1em;
  }
  .menu-space {
    display:none;
  }
}

@media(min-width: 605px) {
  .btn-gameplay, .btn-races {
    font-size: $size16;
  }
  .btn-playNow {
    font-size: $size18;
    padding: 0.4em 1.5em;
  }
  .menu-space {
    flex-grow:0.5;
  }
}
