.races-section {
  padding-top: 1em;
  padding-bottom: 3em;
  width: 100%;
  height: auto;
  background-color: $race-bg;
  background-image:url("../images/background_races.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


// divider style////////////////////
.divider {
  width: 100%;
  text-align: center;
}

// races title style/////////////////
.races-title-container {
  position: relative;
}

.races-title, .races-title-shadow {
  position: absolute;
  top: 0px;
}

.races-title {
  background: $headline-grad-lgt;
  background: linear-gradient(180deg, $headline-grad-lgt 30%, $headline-grad-drk 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.races-title-shadow {
  //color: $site-white;
  text-shadow: 1px 1px 7px #000000;
}

// races image/text style //////////////////
.races-bio-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $headline-grad-lgt;
  background: linear-gradient(to right, $headline-grad-lgt 0%, $headline-grad-drk 20%, $headline-grad-drk 80%, $headline-grad-lgt 100%);
}

.race-img-box, race-txt-box {
  position: relative;
}

.race-txt-box {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.race-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}

.race-title {
  color: $site-black;
}

.race-desc {
  color: $site-black;
}

// races icons style //////////////////////////
.races-icons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.race-btn {
  cursor: pointer;
}

.race-btn-img-box {
  padding: 0.3em;
  transform:skewX(-8deg);
  -webkit-transform:skewX(-8deg);
  background-color: rgba(240,228,210,0.8);
  border: 4px solid $race-grad-drk;
  border-radius: 0.5em;
}

.btn-img {
  transform:skewX(8deg);
  -webkit-transform:skewX(8deg);
  width: 100%;
}

.race-label {
  font-family: $Montserrat;
  color: $site-black;
  text-align: center;
}

.race-btn:hover, .race-label:hover {
  .race-label {
    color: $link-active;
  }
  .race-btn-img-box {
    background-color: rgba(240,228,210,1);
  }
}

//RESPONSIVE STYLING FOR ALL CLASSES
@media (max-width: 499px) {
  .divider {
    margin-top: -1.7em;
  }
  .divider-img {
    max-width: 300px;
  }
  //race headline
  .races-title-container {
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 3em;
  }

  .races-title, .races-title-shadow {
    font-size: 3em;
  }
  //race bio + images
  .races-bio-container {
    flex-wrap: wrap;
    margin-top: 27em;
    height: 12em;
  }
  .race-img-box {
    flex: 0 0 58%;
  }
  .race-txt-box {
    flex: 0 0 70%;
    padding: 1em 1em;
  }
  .race-img {
    margin-top: -118%;
  }
  .race-title {
    font-size: 1.3em;
  }
  .race-desc {
    font-size: 1em;
  }
  //race icons
  .races-icons {
    flex-wrap: nowrap;
    margin-top: 2em;
    width: 90%;
  }
  .race-btn {
    margin-left: 0.2em;
    margin-top: -70em;
  }
  .race-label {
    display: none;
    margin-top: 0.3em;
    font-size: 0.68em;
  }
}
@media (min-width: 500px) {
  .divider {
    margin-top: -1.7em;
  }
  .divider-img {
    max-width: 300px;
  }
  //race headline
  .races-title-container {
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 3em;
  }

  .races-title, .races-title-shadow {
    font-size: 3em;
  }
  //race bio + images
  .races-bio-container {
    flex-wrap: wrap;
    margin-top: 26em;
    height: 10em;
  }
  .race-img-box {
    flex: 0 0 58%;
  }
  .race-txt-box {
    flex: 0 0 70%;
    padding: 1em 1em;
  }
  .race-img {
    margin-top: -118%;
  }
  .race-title {
    font-size: 1.3em;
  }
  .race-desc {
    font-size: 1em;
  }
  //race icons
  .races-icons {
    flex-wrap: wrap;
    margin-top: 2em;
    width: 80%;
  }
  .race-btn {
    margin-left: 1em;
    margin-top: 1em;
  }
  .race-label {
    margin-top: 0.3em;
    font-size: 0.68em;
  }
}

@media (min-width: 576px) {
  .divider {
    margin-top: -2.4em;
  }
  .divider-img {
    max-width: 560px;
  }
  //race headline
  .races-title-container {
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 3.5em;
  }

  .races-title, .races-title-shadow {
    font-size: 3.5em;
  }
  //race bio + images
  .races-bio-container {
    flex-wrap: wrap;
    margin-top: 28em;
    height: 10em;
  }
  .race-img-box {
    flex: 0 0 60%;
  }
  .race-txt-box {
    flex: 0 0 50%;
    padding: 1em 0.8em;
  }
  .race-img {
    margin-top: -116%;
  }
  .race-title {
    font-size: 1.6em;
  }
  .race-desc {
    font-size: 1em;
  }
  //race icons
  .races-icons {
    flex-wrap: wrap;
    margin-top: 2em;
    width: 80%;
  }
  .race-btn {
    margin-left: 1em;
    margin-top: 1em;
  }
  .race-label {
    margin-top: 0.3em;
    font-size: 0.68em;
  }
}

@media (min-width: 680px) {
  //race bio + images
  .races-bio-container {
    flex-wrap: wrap;
    margin-top: 28em;
    height: 10em;
  }
  .race-img-box {
    flex: 0 0 50%;
  }
  .race-txt-box {
    flex: 0 0 50%;
    padding: 1em 0.8em;
  }
  .race-img {
    margin-top: -116%;
  }
  .race-title {
    font-size: 1.6em;
  }
  .race-desc {
    font-size: 1  }
  //race icons
  .races-icons {
    flex-wrap: nowrap;
    margin-top: 3em;
    width: 80%;
  }
  .race-btn {
    margin-left: 1em;
  }
  .race-label {
    margin-top: 0.3em;
    font-size: 0.68em;
  }
}

@media (min-width: 768px) {
  .divider {
    margin-top: -2.8em;
  }
  .divider-img {
    max-width: 746px;
  }
  //race headline
  .races-title-container {
    margin-top: 1.5em;
    margin-left: 10%;
    height: 3.5em;
  }

  .races-title, .races-title-shadow {
    font-size: 3.5em;
  }
  //race bio + images
  .races-bio-container {
    margin-top: 10em;
    height: 10em;
  }
  .race-img-box {
    flex: 0 0 40%;
  }
  .race-txt-box {
    flex: 0 0 40%;
    padding: 1em 0.8em;
  }
  .race-img {
    margin-top: -37%;
  }
  .race-title {
    font-size: 1.6em;
  }
  .race-desc {
    font-size: 1;
  }
  //race icons
  .races-icons {
    margin-top: 10em;
    width: 65%;
  }
  .race-btn {
    margin-left: 1em;
  }
  .race-label {
    margin-top: 0.3em;
    font-size: 0.68em;
  }
}

@media (min-width: 860px) {
  .races-icons {
    margin-top: 14em;
    width: 65%;
  }
}

@media (min-width: 992px) {
  .divider {
    margin-top: -3.4em;
  }
  .divider-img {
    max-width: 992px;
  }
  //race headline
  .races-title-container {
    margin-top: 1.5em;
    margin-left: 18%;
    height: $size72;
  }

  .races-title, .races-title-shadow {
    font-size: $size72;
  }
  //race bio + images
  .races-bio-container {
    margin-top: 10em;
    height: 10em;
  }
  .race-img-box {
    flex: 0 0 30%;
  }
  .race-txt-box {
    flex: 0 0 34%;
    padding: 1em 1em;
  }
  .race-img {
    margin-top: -37%;
  }
  .race-title {
    font-size: 2em;
  }
  .race-desc {
    font-size: 1em;
  }
  //race icons
  .races-icons {
    margin-top: 11em;
    width: 60%;
  }
  .race-btn {
    margin-left: 1.4em;
  }
  .race-label {
    margin-top: 0.3em;
    font-size: $size16;
  }
}

@media (min-width: 1092px) {
  .race-img-box {
    flex: 0 0 26%;
  }
}

@media (min-width: 1351px) {
  .divider {
    margin-top: -4.3em;
  }
  .divider-img {
    max-width: 1350px;
  }
  //race bio + images
  .races-bio-container {
    margin-top: 14em;
    height: 11em;
  }
  .race-img-box {
    flex: 0 0 26%;
  }
  .race-txt-box {
    flex: 0 0 32%;
    padding: 1em 2em;
  }
  .race-img {
    margin-top: -37%;
  }
  .race-title {
    font-size: 2.5em;
  }
  .race-desc {
    font-size: 1em;
  }
  //race icons
  .races-icons {
    margin-top: 12em;
    width: 54%;
  }
  .race-btn {
    margin-left: 1.5em;
  }
  .race-label {
    margin-top: 0.3em;
    font-size: $size16;
  }
}

@media (min-width: 1540px) {
  //race bio + images
  .races-bio-container {
    margin-top: 14em;
    height: 12.5em;
  }
  .race-img-box {
    flex: 0 0 22%;
  }
  .race-txt-box {
    flex: 0 0 30%;
    padding: 1em 4em;
  }
  .race-img {
    margin-top: -37%;
  }
  .race-title {
    font-size: $size48;
  }
  .race-desc {
    font-size: $size21;
  }

  //race icons
  .races-icons {
    margin-top: 10em;
    width: 45%;
  }
  .race-btn {
    margin-left: 1.5em;
  }
  .race-label {
    margin-top: 0.3em;
    font-size: $size16;
  }
}
