@import "mixins/compiler-animations";
@import "animations";
@import "global";
@import "header";
@import "gameplay";
@import "races";

/*
Fonts from mock up:

EME Bar -  Roboto Bold 14px = 0.78em (Google Font)

Main Menu - Montserrat Bold 16px = 0.88em (Google Font)

Play Button - Montserrat Bold 18px = 1em
True Action Combat - Montserrat Bold 42px = 2.33em
True Action Combat Description - Roboto 18px = 1em

Races Section Heading - Montserrat Bold 72px = 4em
Race Name - Montserrat Bold 48px = 2.66em
Race Description - Roboto 21px = 1.16em
Race Icon Label - Montserrat Bold 16px = 0.88em

Copyright Notice - Roboto 16px = 0.88em
*/

/*
Colors from mock up:

EME Bar - #0c1c33 (main), #183561 (border)

Main Menu - Gradient (#ffffff, #ececec)
Button color - (#00c7fa or rgb(0,199,250))

Headline Gradients - (#f0e4d2, #fab83c)

True Action Combat Section background (#566aa2)

Races Background (#909090)

Races Gold Bar Gradient (#f0e4d2, #fab83c)

Race icon button (#fab83c or rgb(250,184,60))

*/

.mont {
  font-family: $Montserrat;
}

.robo {
  font-family: $Roboto;
}

.bold {
  font-weight: bold;
}

.ita {
  font-style: italic;
}

.abs{
  position: absolute;
}

.hide {
  opacity: 0;
}

.about-body {
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -155px;
  visibility: hidden;
}

// footer style////////////////////
.footer {
  background-color: $emeBar-main;
  height: 8em;
}

.copyright {
  text-align: center;
  padding-top: 2em;
  color: $site-white;
  font-size: $size14;
}
